/*body de index.html*/
img{
    width: 50%;
}


a {
    text-decoration: none;
    color: white;
}

.container section{
    display: block;
    position: relative;
}   

.container section p{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.primer {
    column-count: 2;
    width: 100%;
    background-color: black;
    text-align: center;
} 

.primer img{
    width: 100%;
}

.primer p{
    text-align: center;
    text-align: justify;
    padding: 50px;
}

.primer img{
    width: 100%;
}

.primera h3{
    padding-top: 70px;
    font-size: 30px;
}

.primera p{
    font-size: 24px;
    letter-spacing: 1px;
}

.segundo{
    column-count: 2;
    background-color: black;
    text-align: center;
    width: 100%;
}

.segundo h3{
    padding: 20px;
}

.segundo p{
    font-family: 'Times New Roman', Times, serif, cursive;
    font-style: italic;
    padding: 20px;
}

.segundo img{
    width: 100%;
}

.platillos{
    background-image: url(https://res.cloudinary.com/dt7qqtoem/image/upload/v1628303696/fondo_nf9bbc.jpg);
    background-size: 100%;
    position: relative;
    text-align: center;
}

.platillos p{
    position: relative;    
    text-align: center;
    font-size: 1.2rem;

}


.platosP{
    font-size: 1.2rem;
    padding: 20px;
    text-transform: uppercase;
}

.mejoresPlatillos{
    padding: 20px;

}

article{
    width: 30%;
    display: inline-block;
    color: black;
    text-align: center;
    background-color: rgb(235, 235, 235);  
    border-radius: 10px;
    padding: 20px;
} 

article img{
    border-radius: 12px;
}

.etiquetas{
    text-transform: uppercase;
}

article p {
    text-align: center;
}




