main p{
    text-align: center;

    padding: 20px;
}

.tabla{
    font-weight: 900;
    font-size: 1.3rem;
    text-align: left;
}

form{
    display: block;
    padding-left: 50px;
}

select{
    background-color: rgb(207, 221, 226);
    border-color: rgb(206, 206, 206);
    border-radius: 5px;
}

select:hover {
    border-color: #888;
  }

form input{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    background-color: rgb(207, 221, 226);
}
.pedido{
    text-align: center;
    margin: 20px;
}
.pedido p {
    display: inline-block;
}
.pedido select{
    display: inline-block;
}
.pedido input{
    display: inline-block;
}

#checkbox1 {
    display: inline;
    margin-left: 50px;
    margin-right: 0px;
}
#checkbox2 {
    display: inline;
    margin-left: 50px;
    margin-right: 0px;
}
form label{
    padding-left: 50px;
    display: block;
}

button[type="submit"]{
    display: inline-block;
    margin-left: 50px;
    padding: auto;

}