main p{
    text-align: center;

    padding: 20px;
}

.tabla{
    font-weight: 900;
    font-size: 1.3rem;
    text-align: left;
}

form{
    display: block;
    padding-left: 50px;
}


form input{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    background-color: rgb(207, 221, 226);
}
.pedido{
    text-align: center;
    margin: 20px;
}
.pedido p {
    display: inline-block;
}
.pedido select{
    display: inline-block;
}
.pedido input{
    display: inline-block;
}

form label{
    padding-left: 50px;
    display: block;
}

button[type="submit"]{
    display: inline-block;
    margin-left: 50px;
    padding: auto;

}