/*estilos iniciales de todas las paginas, cada una tendra su propia estilizacion si esq lo necesita */

html{
    font-family: Helvetica;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

body{
    background-color: #454040;
    padding: 0%;
    margin: 0%;
}

/*header*/
header{
    background-image: url(https://res.cloudinary.com/dt7qqtoem/image/upload/v1628303941/header_fnzjup.jpg) ;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
    text-align: center;
}

header::before{
    content: "";
    width: 100%;
    height: 500px;
    background-color: #333;
    position: absolute;
    opacity: 0.7;
}

header h1{
    position: relative;

    color: rgb(22, 172, 218);
    font-size: 3rem;
    font-weight: 600;
    padding-left: 20px;
}

header p{
    position: relative;
    font-size: 2rem;
}


/*navbar*/

nav{
    width: 100%;
    background: #333; 
    position: sticky;
    top: 0;
    z-index: 1;
    transition: .5s;
    justify-content: space-between;
} 


nav ul{
    display: flex;
    margin: auto;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    width: 25%;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    line-height: 80px;
    transition: all 300ms;
    border-left: 1px solid #fff;
}


nav li:first-child{
    border-left: none;
}

nav li a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    color: white;
}

nav li:hover{
    text-shadow: 0px 0px 4px #fff;
    background-color: #383333;
}

/*footer*/

/* footer new */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  display: block;
}



.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.row1 {
    display: flex;}
.colsrow1 {
    float: left;
    width: 33.3%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:20px;
}
.row2 {
    display: flex;    
}
.colsrow2 {
    float: left;
    width: 50.0%;
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 30px;

}
