*{
    padding: 0px;
    margin: 0px;
}

#Header{
    width: 100%;
    height: 500px;
    background-image: url('./img/menu.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
    text-align: center;
}

#Header::before{
    content: "";
    width: 100%;
    height: 500px;
    background-color: #333;
    position: absolute;
    opacity: 0.7;
<<<<<<< HEAD
=======
    padding: 0px;
    margin: 0px;
>>>>>>> 2f3ebdbfc50d9d89a87986fc397bc0f896e0c1ad
}

#Header h2{
    position: relative;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0 auto;
}

#Header p{
    position: relative;
    font-size: 40px;
    font-family: 'Pangolin', cursive;
    width: 50%;
    margin: 0 auto;
    padding: 50px 0px 0px ;
}

/*cards*/

#menu{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cards{
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 3px 3px 8px #333; 
    border-radius: 7%;
    background: rgb(73, 64, 64);
    color: white;
}

.cards h3{
    display: block;
    width: 60%;
    border-bottom: 1px solid white;
    font-size: 30px;
}

.cards p{
    font-size: 18px;
    padding: 20px 0px 10px 0px;
}

.cards img{
    padding: 10px;
    display: block;
    border-radius: 10%; 
    height: 190px;
    margin: auto; 
}

.cards span{
    font-size: 30px;
}

/*navbar*/

nav{
    width: 100%;
    background: #333; 
    position: sticky;
<<<<<<< HEAD
=======
    top: 0;
    z-index: 1;
    transition: .5s;
    justify-content: space-between;
>>>>>>> 2f3ebdbfc50d9d89a87986fc397bc0f896e0c1ad
} 


nav ul{
<<<<<<< HEAD
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav li {
    width: 22%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    padding: 20px; 
    border-left: 1px solid white; 
}

=======
    display: flex;
    margin: auto;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    width: 25%;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    line-height: 80px;
    transition: all 300ms;
    border-left: 1px solid #fff;
}


>>>>>>> 2f3ebdbfc50d9d89a87986fc397bc0f896e0c1ad
nav li:first-child{
    border-left: none;
}

nav li a {
    text-decoration: none;
<<<<<<< HEAD
=======
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
>>>>>>> 2f3ebdbfc50d9d89a87986fc397bc0f896e0c1ad
    color: white;
}

nav li:hover{
    text-shadow: 0px 0px 4px #fff;
    background-color: #383333;
}

/*footer*/
footer{
    position: relative;
    margin: 20px 20px 20px 40px;
    background: #3333;
}

.mapa{
    position: absolute;
    left: 0;
    padding-top: 40px;
}

.menu{
    position: absolute;
    right: 0;
}

.menu{
    width: 50%;
    margin-top: 60px;
}

.mapa img{
    width: 40%;
}

.mapa p{
    display: block;
}

.titulo {
    font-size: 1.5rem;
    font-weight: 900;
    display: block;
    position: absolute;
    left: 0%;
    top: 5px;
    width: 100%;
    color: rgb(22, 172, 218);
}

span{
    display: block;
    text-align: center;
}

span p {
    display: inline-block;
}

span a{
    display: inline-block;
}
.redes {
    display: inline-block;
    position: absolute;
    left: 50%;
}

.menu a {
    text-decoration: underline;
    color: rgb(22, 172, 218);
}

.navegador ul{
    list-style: none;
    padding: 0px;
}

.navegador li a{
    text-decoration: none;
    color: white;
}

.navegador li{
    padding-bottom: 10px;
}