body {
	background-color: black;
	overflow: visible;
} 

.image {
	width: 100%;
	height: 100%;
}
p {
	width: 75%;
	color:  white;
	font-size: 25px;
	text-align: justify;
	margin: auto;
}
h1 {
	color: white;
	font-size: 60px;
	text-align: center;
	margin: auto;
}
h2 {
	color: white;
	font-size: 40px;
}
/*
.title { 
    width: 100%;
    height: 400px;
    background-image: url("img/title.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
	text-align: center;  
	padding: 10px;  
	border: 5px solid gray;  
}
*/

/*
.site-footer {
	 display: flex; 
	 align-items: center; 
	 justify-content: center; 
}
footer {
	margin: auto;
    padding: 10px;
}
#footer-content {
	background: gray;
	width: 99%;
}
footer p {
	color: black;
	padding: 10px;
	width: 50%;
	text-align: center;
	margin: auto;
}
*/
/*header*/
header{
    background-image: url(https://res.cloudinary.com/dt7qqtoem/image/upload/v1628303941/header_fnzjup.jpg) ;
    background-size: 100%;
    height: 250px;
    position: relative;
    text-align: center;
}

header h1{
    color: white
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    margin: 0%;
    text-align: center;
}
header p{
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 70%;
}

/*navbar*/
nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/*debe ser sitcky */
nav {
    position: -webkit-sticky;
    position: sticky;
    margin: 0px;
    padding: 0px;
}

nav li {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

nav li:hover{
    text-shadow: 0px 0px 4px #fff;
    background-color: #383333;
}


html {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}
/*footer*/
footer {
    position: relative;
    margin: 20px 20px 20px 40px;
}


footer  img{
    width: 25px;
}


.mapa{
    position: absolute;
    left: 0;
    padding-top: 40px;
}

.menu{
    position: absolute;
    right: 0;
}

.menu{
    width: 50%;
    margin-top: 60px;
}


.mapa img{
    width: 40%;
}

.mapa p{
    display: block;
}

.titulo {
    font-size: 1.5rem;
    font-weight: 900;
    display: block;
    position: absolute;
    left: 0%;
    top: 5px;
    width: 100%;
    color: rgb(22, 172, 218);
}

span{
    display: block;
    text-align: center;
}

span p {
    display: inline-block;
}

span a{
    display: inline-block;
}
.redes {
    display: inline-block;
    position: absolute;
    left: 50%;
}

.menu a {
    text-decoration: underline;
    color: rgb(22, 172, 218);
}

.navegador ul{
    list-style: none;
    padding: 0px;
}

.navegador li a{
    text-decoration: none;
    color: white;
}

.navegador li{
    padding-bottom: 10px;
}
/*body*/

.chef {
	display: flex;
}
.chef-img {
	float: left;
}
.chefs {
	float: right;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 0px;
}
.container {
	margin: 0px;
}
.father {
	display: flex;
}
.child {
	float: left;
	margin: 100px;
	width: 100%;
}
.child0 {
	float: right;
	width: 100%;
}
.image1 {
	width: 100%;
	height: 80%;
}